.div-pad {
	margin-top : 10px;
	display: block;
}
.btn{
	padding: 5px;
	color : white;
	background-color: blue;
}
#register{
	font-weight: bold;
}

.label{
	width: 200px;	
	margin: 0;
}
.input{
	width: 220px;
	margin: 0;
}
.form-control{
	width: 60%;
}