<!DOCTYPE html>

<html xmlns:th = "http://thymeleaf.org">
	<head>
		<title>Dashboard</title>
	</head>
		<h1>Dashboard</h1>
		<h2>Welcome, [[${user.username}]]</h2>
			<body>
			
			<a th:href="@{createTask/{userId}(userId=${user.userId})}">
   			 <button>Create New Task</button>
			</a>
			
	
			<form method = "post" action = "/logout">
				<input type = "hidden" th:name = "${_csrf.parameterName	}" th:value = "${_csrf.token}"/>
				<button type = "submit">Logout</button>
			</form>
			
	
	
			</body>

</html>