<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
<head>
	<title>Create New Task</title>
	
</head>
<body>
	<h1>Create Task</h1>
	<form action = "" method = "post">
	<input type = "hidden" th:name = "${_csrf.parameterName}" th:value="${_csrf.token}"/>
		<h3>Please Describe Task</h3>
		<textarea class="form-control" id="taskDetails" rows="5"
                              placeholder="Description" th:field="${task.details}"
       ></textarea>
		<label for="task">Assign To:</label>
			<select th:field="*{task.assignedDept}">
    			<option value="management">Management</option>
  				<option value="IT">IT</option>
  				<option value="maintenance">Maintenance</option>
  				<option value="guest">Guest</option>
  				<option th:each="dept :${task.assignedDept}" th:value="${task.assignedDept}" th:field="${task.assignedDept}"></option>
			</select>
		<input type = "submit" id = "submitBtn" value = "Create Task"/>

	</form>
</body>
</html>